@model Bootcamp4.Models.Kitap
@{
    ViewBag.Title = "Kitap Düzenle";
}

<h2>Kitap Düzenle</h2>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.ID)
    <label>Kitap Adı</label><br />
    @Html.TextBoxFor(x => x.KitapAdi) <br />

    <label>Sayfa Sayısı</label><br />
    @Html.TextBoxFor(x => x.SayfaSayisi) <br />

    <label>Yazar Adı</label><br />
    @Html.TextBoxFor(x => x.YazarAdi)


    <input type="submit" value="Gonder" class="btn btn-danger" />
}




