
@{
    ViewBag.Title = "Kullanici";
}
<br /><br /><br /><br /><br /><br />

                              <div class="row">
                                  <div class="4"></div>
                                  <div class="4">
                                      @using (Html.BeginForm())
                                      {
                                          <label>Adınız</label><br />
                                          <input type="text" name="kadi" class="form-control" /><br /><br />
                                          <input type="submit" class="btn btn-success" value="Başla" />
                                      }
                                  </div>
                                  <div class="4"></div>

                              </div>