
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:100%;height:auto;background-color:brown;padding:15px;margin:15px">
        <a style="color:white" href="@Url.Action("VieweVeriGonderme","Ana")">Controllerden View'e Veri Gönderme</a>

    </div>
    <div style="width:100%;height:auto;background-color:brown;padding:15px;margin:15px">
        <a style="color:white" href="@Url.Action("HtmlHelperKullanimi","Ana")">Html Helper Kullanımı</a>

    </div>
    <div style="width:100%;height:auto;background-color:brown;padding:15px;margin:15px">
        <a style="color:white" href="@Url.Action("ViewdenControlleraVeriGonderme","Ana")">View'den Controller'a Veri Gönderme(Post işlemi)</a>

    </div>
</body>
</html>
